body {
	background: #A9BCF5 url('imagens/fundo.jpg');
	font:  16px "Trebuchet MS", Helvetica, sans-serif; 
}

#principal {
	width: 1100px;		
}

#menu {
	background: #E0ECF8;
	padding: 18px;
}

#conteudo {
	background: #CECEF6;
	padding: 16px;
}

h1 {
	color: #CEF6F5 ;
	font-size: 1.3em;
}

a {
	padding: 5px;
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
}

.centralizar {
	text-align: center;
}

.img-toguro {
	border: 10px solid #CECEF6;
}